{% extends "tpl-back.html.twig" %}

{% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <header class="navbar navbar-inverse">
                    <div class="container">
                        <nav id="navbar" class="navbar-collapse collapse">
                            <ul id="nav-admin" class="nav navbar-nav navbar-inverse">
                                <li><a href="/forum-admin">Gestion de posts</a></li>
                                <li class="active"><a href="/admin-cat">Gestion de catégories</a></li>
                                <li><a href="/admin-topic">Gestion de topics</a></li>
                                <li><a href="/admin-user">Gestion d'utilisateurs</a></li>
                            </ul>
                        </nav>
                    </div>
                </header>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>Liste des catégories</h2>
        </div>
        <div class="row btn-admin-class">
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <a class="btn btn-primary" href="/admin-cat/create-form" role="button" style="margin-left : 3.2%;">Nouvelle catégorie <i class="icon-plus-sign"></i></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Libellé</th>
                        <th>Opérations</th>
                    </tr>
                    {% for cat in cats %}
                    <tr>
                        <td>{{ cat.nomCat|convert_encoding('UTF-8', 'ISO-8859-1') }}</td>
                        <td class="td-cell-align">
                            <a href="/save-cposts/{{cat.idCat}}"><i class="icon-save"></i></a>
                            <a href="/admin-categ/up/{{cat.idCat}}" }}><i class="icon-pencil"></i></a>
                            <a href="/category-delete/{{cat.idCat}}"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</main>
{% endblock %}